.table-container{

    overflow-x:auto;

    margin-top:20px;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

th{

    background:#2563eb;

    color:white;

    padding:14px;

}

td{

    padding:12px;

}

th,
td{

    border:1px solid #e5e7eb;

    text-align:center;

}